@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (max-width: 375px) {
  .text-style {
    font-size: 1rem; /* for example */
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
.card {
  width: 80px;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.card.flipped {
  transform: rotateY(180deg);
  background-color: white;
}
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
@keyframes scaleUp {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-scaleUp {
  animation: scaleUp 0.3s ease-out forwards;
}
.bg-custom {
background: #141212;
background: linear-gradient(78deg, rgba(20, 18, 18, 1) 10%, rgba(2, 2, 64, 1) 100%);
}
.btn-bg{
 background: #4f4d4d;
background: linear-gradient(78deg, rgba(79, 77, 77, 1) 9%, rgba(8, 8, 20, 1) 78%);
}
 .white-shadow {
  text-shadow: 0 0 10px #ffffff;
}

.movie-bg{
background: #101021;
background: linear-gradient(108deg, rgba(16, 16, 33, 1) 9%, rgba(3, 1, 74, 1) 84%);
}


.movie-box{
  box-shadow: 0 0 2px #080575;
}

.card{
  box-shadow: 0 30px 30px #1711CF;
}
